.class-battle {
  margin-top: 10px;
  text-align: center;
}

.class-battle-images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.class-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}


.vs-text {
  font-size: 1.8rem;
  font-weight: 800;
  color: #f1c40f;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  margin: 0 10px;
  transform: translateY(-2px);
}

.class-labels {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  margin-top: 4px;
}